/**
 * @fileOverview dashboard
 * @date 2023-7-4
 * @author poohlaha
 */
.dashboard-page {
  .m-ant-select {
    .ant-select-content {
      text-align: center;
    }
  }

  .search-content {
    .search-item {
      &:hover {
        background: @color_menu_active;
      }
    }
  }
}

.m-dashboard-select-modal {
  .rc-virtual-list {
    .rc-virtual-list-holder-inner {
      .ant-select-item-option {
        text-align: center;
      }
    }
  }
}
